ul.master_navigation
    {
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        list-style: none;
        margin: 0.5em 0;
        padding: 0;
    }

    ul.master_navigation li
    {
        display: inline-block;
        padding: 0 0.5%;
    }

    a
    {
        color: #08f;
        font-weight: bold;
        text-decoration: none;
    }

    a:visited
    {
        color: #88f;
    }

    a:hover
    {
        color: #f00;
    }

    p
    {
        text-align: justify;
    } 




#outer {
            height: 100%; 
            width: 100%;
            border: 1px solid red;
            float: left;
          
        }

        #top {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
            margin-right: 10px;
            height: 20px;
            width: 98%;
            border: 1px solid green;
            float: left;
            
        }

        #container
{
    width:100%;
    height:700px;
    padding-top:100px;
    display:table;
    
        
}
        #leftMajor {
            margin-left: 20px;
            height: 600px;
            width: 70%;
            border: 1px solid blue;
            position:relative;
            float: left;

        }

        #rightMajor {
            margin-left: 20px;
            height: 600px;
            width: 25%;
            border: 1px solid blue;
            float: left;
            
        }

        #left1 {
            height: 400px;
            width: 100%;
            border: 1px solid pink;
            position: relative;
            float: left;
        }
        #left2 {
            height: 75px;
            width: 100%;
            border: 1px solid pink;
            position: relative;
            float: left;
        }
        #left3 {
            height: 75px;
            width: 100%;
            border: 1px solid pink;
            position: relative;
            float: left;
        }

        #left4 {
            height: 50px;
            width: 100%;
            border: 1px solid pink;
            position: relative;
            float: left;
        }


        .right {
            height: 200px;
            width: 100%;
            border: 1px solid pink;
             position: relative;
            float: left;
        }

@media screen {
     body {
        width:900px;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .pad {
        padding: 10px;
    }
}